<div class="calendar">
  <div class="header">
    <button (click)="prevWeek()">&lt;</button>
    <h2>{{ currentDate | date : "MMM dd, yyyy" }}</h2>
    <button (click)="nextWeek()">&gt;</button>
  </div>
  <table>
    <thead>
      <tr>
        <th class="firstrow" *ngFor="let day of daysOfWeek">{{ day }}</th>
      </tr>
      <tr>
        <th class="lastrow" *ngFor="let day of weekDays">{{ day | date : "d" }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <div *ngFor="let event of events" style="display: flex;">
      <div id="{{event.title}}" *ngIf="checkEvent(event)" style="height: 50px; width: 100px; background-color: aqua; ">{{event.title}}</div>
        </div>
      </tr>
    </tbody>
  </table>
</div>
