<div class="calendar">
  <div class="header">
    <button (click)="prevWeek()">&lt;</button>
    <div style="display: flex; margin-left: 5px;">
      <h4>{{weekDays[0] | date : "d"}}-</h4>
      <h4>{{weekDays[6] | date : "d"}},</h4>
      <h4>{{weekDays[6] | date : "MMM-yyyy"}}</h4>
    </div>
    <button (click)="nextWeek()">&gt;</button>
  </div>
  <div class="days">
    <div class="day" *ngFor="let day of daysOfWeek">{{ day }}</div>
  </div>
  <div class="content">
    <div class="date" *ngFor="let day of weekDays">{{ day | date : "d" }}</div>
  </div>
  <div *ngIf="checkTimeNowDisplay(timenow) "class="now" id="now" style="position: absolute; z-index: 2;"></div>
  <div style="height: 100%; width: 141px;border-left: 2px solid #ccc; border-right: 1px solid #ccc; position: absolute;"></div>
  <div style="height: 100%; width: 286px; border-right: 1px solid #ccc; position: absolute;"></div>
  <div style="height: 100%; width: 429px; border-right: 1px solid #ccc; position: absolute;"></div>
  <div style="height: 100%; width: 571px; border-right: 1px solid #ccc; position: absolute;"></div>
  <div style="height: 100%; width: 714px; border-right: 1px solid #ccc; position: absolute;"></div>
  <div style="height: 100%; width: 857px; border-right: 1px solid #ccc; position: absolute;"></div>
  <div style="height: 100%; width: 999px; border-right: 2px solid #ccc; position: absolute;"></div>
  <div *ngFor="let events1 of events" style="display: flex; width: 100%;  position: relative; " id="{{events1.id}}">
    <div
      *ngFor="let event of events1.data"
      id="{{ event.title }}"
      style="
        height: 60px;
        text-align: center;
        position: absolute;
        margin-top: 5px;
      "
    >
      <div
        *ngIf="checkEvent(event)"
        style="
        z-index: 1;
          width: 100%;
          height: 100%;
          text-align: center;
        "
      >
        {{ event.title }}
      </div>
    </div>
  </div>
</div>

<!-- <div class="calendar">
  <div class="header">
    <button (click)="prevWeek()">&lt;</button>
    <div style="display: flex; margin-left: 5px;">
      <h4>{{weekDays[0] | date : "d"}}-</h4>
      <h4>{{weekDays[6] | date : "d"}},</h4>
      <h4>{{weekDays[6] | date : "MMM-yyyy"}}</h4>
    </div>
    <button (click)="nextWeek()">&gt;</button>
  </div>
  <table>
    <thead>
      <tr>
        <th class="firstrow" *ngFor="let day of daysOfWeek">{{ day }}</th>
      </tr>
      <tr>
        <th class="lastrow" *ngFor="let day of weekDays">{{ day | date : "d" }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let events1 of events" style="display: flex; width: 100%;  position: relative; " id="{{events1.id}}">
        <div
        *ngFor="let event of events1.data"
        id="{{ event.title }}"
        style="
          height: 50px;
          text-align: center;
          position: absolute;
          margin-top: 5px;
        "
      >
        <div
          *ngIf="checkEvent(event)"
          style="
            width: 100%;
            height: 100%;
            text-align: center;
            background-color: aqua;
          "
        >
          {{ event.title }}
        </div>
      </div>
      </tr>
    </tbody>
  </table>
</div>
 -->
